custom/siteoneintegration/resources/wsdl/TotalPRO_ClientSignOn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="OpenSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenSessionResult" type="tns:SignOnResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SignOnResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isSuccess" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="accessToken" nillable="true" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignOnResult" nillable="true" type="tns:SignOnResult" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OpenSessionSoapIn">
    <wsdl:part name="parameters" element="tns:OpenSession" />
  </wsdl:message>
  <wsdl:message name="OpenSessionSoapOut">
    <wsdl:part name="parameters" element="tns:OpenSessionResponse" />
  </wsdl:message>
  <wsdl:message name="OpenSessionHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OpenSessionHttpGetOut">
    <wsdl:part name="Body" element="tns:SignOnResult" />
  </wsdl:message>
  <wsdl:message name="OpenSessionHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OpenSessionHttpPostOut">
    <wsdl:part name="Body" element="tns:SignOnResult" />
  </wsdl:message>
  <wsdl:portType name="TotalPRO_ClientSignOnSoap">
    <wsdl:operation name="OpenSession">
      <wsdl:input message="tns:OpenSessionSoapIn" />
      <wsdl:output message="tns:OpenSessionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TotalPRO_ClientSignOnHttpGet">
    <wsdl:operation name="OpenSession">
      <wsdl:input message="tns:OpenSessionHttpGetIn" />
      <wsdl:output message="tns:OpenSessionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TotalPRO_ClientSignOnHttpPost">
    <wsdl:operation name="OpenSession">
      <wsdl:input message="tns:OpenSessionHttpPostIn" />
      <wsdl:output message="tns:OpenSessionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TotalPRO_ClientSignOnSoap" type="tns:TotalPRO_ClientSignOnSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenSession">
      <soap:operation soapAction="http://tempuri.org/OpenSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TotalPRO_ClientSignOnSoap12" type="tns:TotalPRO_ClientSignOnSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenSession">
      <soap12:operation soapAction="http://tempuri.org/OpenSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TotalPRO_ClientSignOnHttpGet" type="tns:TotalPRO_ClientSignOnHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="OpenSession">
      <http:operation location="/OpenSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TotalPRO_ClientSignOnHttpPost" type="tns:TotalPRO_ClientSignOnHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="OpenSession">
      <http:operation location="/OpenSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TotalPRO_ClientSignOn">
    <wsdl:port name="TotalPRO_ClientSignOnSoap" binding="tns:TotalPRO_ClientSignOnSoap">
      <soap:address location="https://siteonepartners.rewardsmall.biz/WebServices/TotalPRO_ClientSignOn.asmx" />
    </wsdl:port>
    <wsdl:port name="TotalPRO_ClientSignOnSoap12" binding="tns:TotalPRO_ClientSignOnSoap12">
      <soap12:address location="https://siteonepartners.rewardsmall.biz/WebServices/TotalPRO_ClientSignOn.asmx" />
    </wsdl:port>
    <wsdl:port name="TotalPRO_ClientSignOnHttpGet" binding="tns:TotalPRO_ClientSignOnHttpGet">
      <http:address location="https://siteonepartners.rewardsmall.biz/WebServices/TotalPRO_ClientSignOn.asmx" />
    </wsdl:port>
    <wsdl:port name="TotalPRO_ClientSignOnHttpPost" binding="tns:TotalPRO_ClientSignOnHttpPost">
      <http:address location="https://siteonepartners.rewardsmall.biz/WebServices/TotalPRO_ClientSignOn.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>